{% extends 'google_ui/base.html' %}
{% import 'macros/form.html' as f with context %}

{% block body %}
    {{ super() }}

    <div class="row">
        <div>
	        {% call f.form_tag('index') %}
	            {% call f.form_group(form.url, css_class='margin-bottom',
	                                 placeholder='Url') %}
	            {% endcall %}

	            {% if url %}
	            	<button type="button" class="btn btn-primary" onclick="clickStop('stop_crawling_example_spider')">Cancel</button> 
			    	<div class="progress">
			            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
			                 aria-valuemax="0" style="width: 0;">
			                0%
			            </div>
			        </div>
			    {% else %}
			    	<button type="submit" class="btn btn-primary">Start scraping</button>
				{% endif %}
	            
		    {% endcall %}
		    
	    </div>
    </div>

<script src="/static/script.js"></script>
{% endblock body %}