{% extends 'admin/master.html' %}

{% block body %}
    {{ super() }}

    <div class="row-fluid">
        <h3>Usage Instructions</h3>

        <ul>
            <li><a href="upload">Upload</a> - here you can upload lists of input websites</li>
            <li><a href="download">Download</a> - here you can download scraped results</li>
        </ul>
    </div>
{% endblock body %}